vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Aug 2010 16:29:18 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|16 Aug 2010 16:29:18 -0000
vti_filesize:IR|1920
vti_lineageid:SR|{D6B02CA1-CA71-49CA-B07A-CB72624C29D0}
vti_backlinkinfo:VX|test/index.html
