vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Aug 2010 16:57:52 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|16 Aug 2010 16:57:52 -0000
vti_filesize:IR|3731
vti_cachedlinkinfo:VX|S|images/nav_bg.png S|images/nav_left.png S|images/nav_right.png S|images/split.png S|images/menu_left.gif S|images/menu_mid.gif S|images/menu_right.gif S|images/submenu_top.png S|images/submenu_bg.png S|images/submenu_bottom.png S|images/content_bg.png S|images/content_bottom.png
vti_cachedsvcrellinks:VX|FSUS|test/stylesheets/images/nav_bg.png FSUS|test/stylesheets/images/nav_left.png FSUS|test/stylesheets/images/nav_right.png FSUS|test/stylesheets/images/split.png FSUS|test/stylesheets/images/menu_left.gif FSUS|test/stylesheets/images/menu_mid.gif FSUS|test/stylesheets/images/menu_right.gif FSUS|test/stylesheets/images/submenu_top.png FSUS|test/stylesheets/images/submenu_bg.png FSUS|test/stylesheets/images/submenu_bottom.png FSUS|test/stylesheets/images/content_bg.png FSUS|test/stylesheets/images/content_bottom.png
vti_lineageid:SR|{BEA28010-3E81-4EF3-A29F-E98CB88D54BD}
vti_backlinkinfo:VX|test/index.html
