vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Aug 2010 16:55:55 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|16 Aug 2010 16:55:55 -0000
vti_filesize:IR|1199
vti_lineageid:SR|{40BDC807-AA50-45EB-8FB0-20C96B2568EC}
vti_backlinkinfo:VX|test/index.html
